# File .env.example

# Environment Settings
NODE_ENV=production  # Mode aplikasi, bisa diganti ke development saat pengembangan

# URL Ghost
SERVICE_FQDN_GHOST_2368=http://localhost:2368  # URL untuk Ghost, ganti dengan domain Anda jika ada

# Database Settings
MYSQL_HOST=mysql  # Nama layanan MySQL di Docker Compose
SERVICE_USER_MYSQL=ghost_user  # Username MySQL untuk Ghost
SERVICE_PASSWORD_MYSQL=ghost_password  # Password MySQL untuk Ghost
MYSQL_DATABASE=ghost_db  # Nama database untuk Ghost
SERVICE_PASSWORD_MYSQLROOT=root_password  # Password root MySQL

# Email SMTP Settings
MAIL_OPTIONS_AUTH_USER=your_email@example.com  # Email pengirim (SMTP)
MAIL_OPTIONS_AUTH_PASS=your_password  # Password untuk email pengirim
MAIL_OPTIONS_SECURE=true  # Gunakan koneksi aman (SSL/TLS)
MAIL_OPTIONS_PORT=465  # Port untuk SMTP (default 465)
MAIL_OPTIONS_SERVICE=Mailgun  # Layanan SMTP yang digunakan (seperti Mailgun)
MAIL_OPTIONS_HOST=smtp.mailgun.org  # Host untuk SMTP (sesuaikan dengan penyedia email Anda)
