# Ghost environment settings
COOLIFY_PROJECT_DOMAIN= # Masukkan domain atau IP server (contoh: https://example.com)

# MySQL Database settings
DATABASE_USERNAME= # Masukkan username database (contoh: ghost_user)
DATABASE_PASSWORD= # Masukkan password database (contoh: ghost_password)
DATABASE_NAME= # Masukkan nama database (contoh: ghost_db)
MYSQL_ROOT_PASSWORD= # Masukkan root password database (contoh: rootpass)
